name: build

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - master
    # tags:
  pull_request:

jobs:
  build-images:
    name: Build Docker images
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
              
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: build amnezia-wg-docker image for ghcr.io
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          docker buildx build --push \
              --platform linux/arm/v7,linux/arm64,linux/amd64,linux/amd64/v2,linux/amd64/v3 \
              -t ghcr.io/sergh-one/awg-go-multiplatform:latest .
